body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
// Best Practice suggests
// keep default style for smallest screen size (portrait mobile, below 576px)
// and then proceed in assending order with media query like below 
*/

/* Footer */
.footer {
  max-width: 100%;
  height: 20em;
  background-color: rgb(234, 229, 233);
}

.logo {
  color: rgb(241, 123, 19);
}

/* Introduction */
.main-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 570px;
  max-width: 100%;
  max-height: 56vh;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("image/title.jpg");
  overflow: hidden;
}

#my-picture4 {
  width: 150px;
  height: 200px;
  position: absolute;
  display: block;
  margin-bottom: 4em;
}

#my-picture4 > img {
  width: 100%;
  height: 100%;
}

#introduction2 {
  margin-top: 13em;
  margin-right: auto;
  margin-left: auto;
  max-width: 420px;
  text-align: start;
  font-family: Poppins;
  font-weight: 700;
  font-size: large;
  color: white;
}

/* Main page */
.main-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.project-list > div {
  border-top-style: solid;
  border-top-color: rgb(186, 174, 174);
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 2em;
}

/* // Small devices (landscape phones, 576px and above till next break point) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and above till next break point) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and above till next break point) */
@media (min-width: 992px) {
}

/*  For desktop */

/* For Tablet */

/* For Mobile */
