body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
/* 
// Best Practice suggests
// keep default style for smallest screen size (portrait mobile, below 576px)
// and then proceed in assending order with media query like below 
*/

/* Navbar*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid rgb(241, 123, 19);
}

.logo {
  color: rgb(241, 123, 19);
}

/* Introduction */
.main-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 570px;
  max-width: 100%;
  max-height: 56vh;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--title-img);
  overflow: hidden;
}

.my-picture {
  width: 150px;
  height: 200px;
  position: absolute;
  display: block;
  margin-bottom: 4em;
}

.my-picture > img {
  width: 100%;
  height: 100%;
}

#introduction2 {
  margin-top: 15em;
  margin-right: auto;
  margin-left: auto;
  max-width: 420px;
  text-align: start;
  font-family: Poppins;
  font-weight: 700;
  font-size: large;
  color: white;
}

/* Main page */
.main-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-list > div {
  flex: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 0 0 0;
  background-color: black;
  color: white;
}

.project-title-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-top-style: solid;
  border-top-color: rgb(186, 174, 174);
  padding-top: 2em;
  padding-bottom: 2em;
}

.card {
  margin-bottom: 2em;
}

.code-link {
  margin-left: 35px;
}

.project-img {
  width: 70%;
  min-height: 350px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 75px;
  background-color: rgb(228, 226, 226);
}

.ft-content {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}

.ft-content > div {
  margin-left: 10px;
  margin-right: 10px;
}

.footer-link {
  border-bottom: 1px solid rgb(170, 168, 168);
  text-align: left;
}

.copyright-container {
  text-align: left;
  font-size: x-small;
}

.admin-link {
  color: rgb(125, 121, 121);
}

/* // Small devices (landscape phones, 576px and above till next break point) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and above till next break point) */
@media (min-width: 768px) {
  .main-flex {
    flex-direction: row-reverse;
  }

  #introduction2 {
    margin: 0;
  }

  .my-picture {
    position: relative;
  }

  .project-list {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .project-list > div {
    flex: 48%;
    align-content: space-between;
    margin: 5px;
  }
}

/* // Large devices (desktops, 992px and above till next break point) */
@media (min-width: 992px) {
}

/*  For desktop */

/* For Tablet */

/* For Mobile */
